	<header id="header">
        <nav class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#header">IceDream</a>
                </div>				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#header">Home</a></li>
                        <li><a href="#feature">La nostra passione</a></li>
                        <li><a href="#gallery">Galleria</a></li>
                        <li><a href="#our-team">I nostri prodotti</a></li> 
                        <li><a href="#contact">Contatti</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->		
    </header><!--/header-->	
	<div class="slider">		
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">	
						<%= image_tag("7.jpg", class: "img-responsive") %>
					 
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2></h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
								<p></p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">															</div>
						</div>
				    </div>
			
				    <div class="item">
						<%= image_tag("6.jpg", class: "img-responsive") %>
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">								
								<h2>Titolo2</h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.3s">								
								<p>Titolo2</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
							</div>
						</div>
				    </div> 
				    <div class="item">
						<%= image_tag("1.jpg", class: "img-responsive") %>
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">								
								<h2>Titolo3</h2>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">								
								<p>Titolo3</p>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">					
							</div>
						</div>
				    </div> 
				</div>
				
				<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i> 
				</a>
				
				<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i> 
				</a>
			</div> <!--/#carousel-slider-->
		</div><!--/#about-slider-->
	</div><!--/#slider-->
	
	<div id="feature">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h3>La passione per il gelato</h3>
					<p>Sin dal 1988, all'IceDream produciamo gelato con passione grazie a:</p>
				</div>
				<div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-heart-o"></i>						
							<h2>Amore per il gelato</h2>
							<p>blabla</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-leaf"></i>
							<h2>Prodotti naturali</h2>
							<p>Utilizziamo solo prodotti naturali ed attentamente selezionati</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<div class="hi-icon-wrap hi-icon-effect">
							<i class="fa fa-trophy"></i>
							<h2>Blabla</h2>
							<p>blabla</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="gallery">
		<div class="container">
			<div class="text-center">
				<h3>Galleria</h3>
			</div>
			<div class="row">
				<figure class="effect-chico">						
					<div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/1.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/1.jpg", class:"flipLightBox" %>				
					</div>
				</figure>
				<figure class="effect-chico">
					<div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/2.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/2.jpg", class:"flipLightBox" %>
					</div>
				</figure>	
				<figure class="effect-chico">
					<div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/3.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/3.jpg", class:"flipLightBox" %>
					</div>
				</figure>
				<figure class="effect-chico">
					<div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/4.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/4.jpg", class:"flipLightBox" %>
					</div>	
				</figure>
			</div>
		</div>
		<div class="gallery">
			<div class="container">
				<div class="row">
					<figure class="effect-chico">
						<div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/5.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/5.jpg", class:"flipLightBox" %>
						</div>
					</figure>	
					<figure class="effect-chico">
						<div class="col-md-3 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/6.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/6.jpg", class:"flipLightBox" %>
						</div>
					</figure>	
					<figure class="effect-chico">
						<div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/7.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/7.jpg", class:"flipLightBox" %>
						</div>
					</figure>	
					<figure class="effect-chico">
						<div class="col-md-3 wow fadeInDown" data-wow-offset="0" data-wow-delay="0.3s">
  					<%= link_to image_tag("gallery/8.jpg", class:"img-responsive", alt:""),
            	  "app/assets/images/gallery/8.jpg", class:"flipLightBox" %>
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div><!--/#gallery-->

	<div id="our-team">
		<div class="container">
			<div class="text-center">
				<h3>I nostri Jogurt</h3>
				<p>All'IceDream potrete assaporare il nostro jogurt artigianale, fatto solo con prodotti naturali, che potrete arricchire a vostro piacimento sceliendo tra una vastra selezione di toppings:</p>
			</div>
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/fragole.png", class:"toppings", alt: "") %>
						<h2>Fragole</h2>
						<h4>Fragole</h4>
						<p>Fragole</p>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/cioccolato.png", class:"toppings", alt: "") %>

						<h2>Cioccolato</h2>
						<h4>Cioccolato</h4>
						<p>Cioccolato</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/filini.png", class:"toppings", alt: "") %>
						<h2>Filini</h2>
						<h4>Filini</h4>
						<p>Filini</p>
					</div>
				</div>	
			</div>
		
			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/smarties.png", class:"toppings", alt: "") %>
						<h2>Smarties</h2>
						<h4>Smarties</h4>
						<p>Smarties</p>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/cioccolatobianco.png", class:"toppings", alt: "") %>

						<h2>Cioccolato bianco</h2>
						<h4>Cioccolato bianco</h4>
						<p>Cioccolato bianco</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/fruttidibosco.png", class:"toppings", alt: "") %>
						<h2>Frutti di bosco</h2>
						<h4>Frutti di bosco</h4>
						<p>Frutti di bosco</p>
					</div>
				</div>	
			</div>

			<div class="row">
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/cereali.png", class:"toppings", alt: "") %>
						<h2>Cereali</h2>
						<h4>Cereali</h4>
						<p>Cereali</p>
					</div>
				</div>
				<div class="col-md-4 wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/cocco.png", class:"toppings", alt: "") %>

						<h2>Cocco</h2>
						<h4>Cocco</h4>
						<p>Coccoo</p>
					</div>
				</div>
				<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="text-center">
						<%= image_tag("toppings/palline.png", class:"toppings", alt: "") %>
						<h2>Palline</h2>
						<h4>Palline</h4>
						<p>Palline</p>
					</div>
				</div>	
			</div>

	  </div>
		<div class="team">
			<div class="container">
			<div class="text-center">
				<h3>I nostri gelati selezionati</h3>
				<p>All'IceDream potrete gustare gelati selezionati, che vengono rilasciati solo 
				alle migliori gelaterie rispettanti determinati criteri blablabla</p>
			</div>
				<div class="row">
					<div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
						<%= image_tag("gelati/mandorla.jpg", class:"img-responsive", alt: "") %>
							<h2>Mandorla d'Avola</h2>
							<h4>Mandorla d'Avola</h4>
							<p>Mandorla d'Avola</p>
						</div>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
						<%= image_tag("gelati/pistacchio.jpg", class:"img-responsive", alt: "") %>
							<h2>Pistacchio di Bronte</h2>
							<h4>Pistacchio di Bronte</h4>
							<p>Pistacchio di Bronte</p>
						</div>
					</div>
					<div class="col-md-4 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.3s">
						<div class="text-center">
						<%= image_tag("gelati/nocciola.jpg", class:"img-responsive", alt: "") %>
							<h2>Nocciola</h2>
							<h4>Nocciola</h4>
							<p>Nocciola</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/#our-team-->
	
	<footer>
		<div id="contact">
			<div class="container">
				<div class="text-center">
					<h3>Contatti</h3>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
						<h2>Orari di apertura</h2>
						<p>
							Lunedì 11:00-00:00<br>
							Martedì 11:00-00:00<br>
							Mercoledì 11:00-00:00<br>
							Giovedì 11:00-00:00<br>
							Venerdì 11:00-00:00<br>
							Sabato 11:00-00:00<br>
							Domenica 10:30-00:00<br>
						</p>				
					</div>				
					
					<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.4s">
						<h2>Contatti</h2>
						<ul>
							<li><i class="fa fa-home fa-2x"></i> Piazza Garibaldi 55, Cassano d'Adda</li><hr>
							<li><i class="fa fa-phone fa-2x"></i> 0363 60291</li><hr>
							<li><i class="fa fa-envelope fa-2x"></i> gelateria@icedream.it</li>
						</ul>
					</div>
					
					<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">  	
					    <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
                                </div>
                            
                            <button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
                        </form>
					</div>	
				</div>
			</div>
		</div><!--/#contact-->					
		
		<div class="social-icon">
			<div class="container">
				<div class="col-md-6 col-md-offset-3">						
					<ul class="social-network">
						<li><a href="https://www.facebook.com/IcedreamCassano" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.tripadvisor.com.ph/Restaurant_Review-g1826736-d10396547-Reviews-Icedream-Cassano_d_Adda_Province_of_Milan_Lombardy.html" class="comments tool-tip" title="Tripadvisor"><i class="fa fa-comments"></i></a></li>
					</ul>						
				</div>
			</div>
		</div>						
		<div class="text-center">
			<div class="copyright">
				&copy; Bikin Theme. All Rights Reserved.
                <div class="credits">
                    <!-- 
                        All the links in the footer should remain intact. 
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bikin
                    -->
                    <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
			</div>
		</div>									
	</footer>
    